<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="System.Data.SqlServerCe.4.0"
           invariant="System.Data.SqlServerCe.4.0"
           description=".NET Framework Data Provider for Microsoft SQL Server Compact"
           type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="MainDB" providerName="System.Data.SqlServerCe.4.0" connectionString="Persist Security Info = False; Password=1234; Data Source='game_round.sdf';" />
  </connectionStrings>

  <appSettings>

	<add key="OutgoingHttpConnectionLimit" value="1000"/>
  <add key="DefaultRemoteCallTimeout" value="20000"/>
	<add key="ExtraStartServiceSeconds" value="2"/>
	<add key="ExtraStopServiceSeconds" value="2"/>

	<add key="MuteVarName" value="TableControllerServer"/>
	<add key="ServiceName" value="TableControllerServer"/>
	<add key="ServiceDescription" value="TableControllerServer"/>

    <add key="GameCode" value="baccarat"/>
    <add key="TableCode" value="B70"/>

    <add key="DBName" value="MainDB"/>
    <add key="BettingTime" value="15"/>
    <add key="ConfirmationTime" value="8"/>

    <add key="FeedServerUrl" value="http://127.0.0.1:13150/receive/message"/>

	<add key="AppServerSetting" value="{
         
			'ServerInfoStorage': '',

			'ServerNodeSettings':
			[
      {
				'NodeName': 'GS1',
				'GroupName': 'GS',

				'InternalServerSetting': null,
				'PublicServerSetting': {
					'WorkIp': '',
					'WorkPort': 13130,
					'WorkProtocol': 'ws',
					'AccessUrl': 'ws://127.0.0.1:13130',
					'AllowOrigin': '*',
					'AllowParentPath': true
				},

				'Services': 'MySharpServer.FrameworkService.dll, TableGame.GameService.dll'

			}
			]
                                
	}"/>

  </appSettings>
  
</configuration>
